html {
  font-size: 15px;
}

body {
  @apply .bg-grey-lightest;
}

.setup {
  @apply .w-full;
  @apply .h-screen;
  @apply .flex;
  @apply .items-center;
  @apply .justify-center;
  background: url("/static/setup-bg.jpg");
}

.wrapper {
  @apply .p-16;
  @apply .rounded-lg;
  background: rgba(0,0,0,0.25);
  @apply .flex;
  @apply .flex-col;
  @apply .items-center;
  @apply .text-white;
}

header {
  @apply .bg-blue;
  @apply .w-full;
  @apply .h-16;
  @apply .flex;
  @apply .items-center;
  @apply .justify-between;
  @apply .text-white;
  @apply .fixed;
  @apply .pin-t;
  @apply .pin-l;
  @apply .px-2;
}

footer {
  @apply .bg-blue;
  @apply .text-white;
  @apply .w-full;
  @apply .h-8;
  @apply .fixed;
  @apply .pin-b;
  @apply .pin-l;
  @apply .text-center;
}

.page-wrapper {
  @apply .w-full;
  @apply .max-h-screen;
  @apply .pt-16;
  @apply .pb-8;
}

.container {
  @apply .w-full;
  @apply .h-full;
  @apply .p-8;
}

.title {
  @apply .text-2xl;
  @apply .text-grey-darkest;
}

.subtitle {
  @apply .text-xl;
  @apply .text-blue-dark;
  @apply .my-2;
}

.item {
  @apply .bg-white;
  @apply .p-4;
  @apply .rounded;
  @apply .my-2;
}

table {
  border-collapse:separate;
  table-layout: fixed;
  border-spacing: 0;
  @apply .w-full;
  @apply .bg-white;
}

th:first-child {
  @apply .rounded-tl-lg;
}

th:last-child {
  @apply .rounded-tr-lg;
}

tr:nth-child(odd) {
  @apply .bg-grey-lighter;
}

th {
    @apply .bg-blue-dark;
    @apply .text-white;
}

th, td {
  @apply .p-2;
}

.badge[status="Complete"] {
  @apply .bg-green-dark;
}

.badge[status="In Session"] {
  @apply .bg-blue-dark;
}

.badge[status="Checked In"] {
  @apply .bg-yellow-dark;
}

.badge[status="Cancelled"] {
  @apply .bg-red-dark;
}

.form-item {
  @apply .w-full;
  @apply .my-2;
  @apply .flex;
}

input {
  @apply .border;
  @apply .h-8;
  @apply .w-64;
  @apply .p-2;
  @apply .rounded;
}

label {
  @apply .mr-2;
  @apply .w-24;
  @apply .text-right;
  @apply .whitespace-no-wrap;
}
